@import '../../../styles/variables.scss';

.carousal-container {
	position: relative;
    padding: 5px 0px;
}

.carousal-image {
	width: 100%;
}

.left-arrow {
	font-size: 36px;
    position: absolute;
    top: 50%;
    left: 0;
    color: $red;
    cursor: pointer;
}

.right-arrow {
	font-size: 36px;
    position: absolute;
    top: 50%;
    right: 0;
    color: $red;
    cursor: pointer;
}